# --- Security & Sensitive Data ---
# PowerShell Credentials & Secret Files
*.xml
*.creds
*_aes.txt
creds.txt

# Private Keys and Certificates
*.key
*.pem
*.ppk
*.pfx
*.p12
*.cer
*.crt
*.secret

# Logs
*.log
Oemsservice/Oemsservice.API/logs/
gemini_Telemetry_log/

# --- Environment & Build ---
# Python virtual environment
venv/

# jb_SyncOemsTicketConfirm build output
Oemsservice/jb_SyncOemsTicketConfirm/bin/**
Oemsservice/jb_SyncOemsTicketConfirm/obj/**

# Temporary files
Oemsservice/tmp001.csv
Oemsservice/新增 Text Document.txt
.gemini/

# Ignore draw.io backup files
*.bkp